<div *ngIf="entrada" class="card bg-light">
  <div class="card-header">{{title}}: {{entrada.descripcion}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/proveedores']" class="btn btn-primary btn-sm">volver</a>
    </h4>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">Datos del Proveedor</li>
      <li class="list-group-item">{{entrada.proveedor.nombre}}</li>
    </ul>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">Datos de la entrada</li>
      <li class="list-group-item">Folio: {{entrada.id}}</li>
      <li class="list-group-item">Descripción: {{entrada.descripcion}}</li>
      <li class="list-group-item">Fecha: {{entrada.createAt}}</li>
    </ul>

    <table class="table table-striped table-hover table-bordered my-3">
      <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Medida</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of entrada.items">
        <td>{{item.producto.nombre}}</td>
        <td>{{item.producto.precio}}</td>
        <td>{{item.cantidad}}</td>
        <td>{{item.producto.medida}}</td>
        <td>{{item.importe}}</td>
      </tr>
      </tbody>
    </table>
    <h3 class="float-right">
      Gran Total: <span class="badge badge-secondary">{{entrada.total}}</span>
    </h3>
    <div class="card border-info mb-4" style="max-width: 350px">
      <div class="card card-header">Observaciones</div>
      <div class="card card-body">
        <p *ngIf="!entrada.observacion">No tiene observaciones</p>
        <p *ngIf="entrada.observacion">{{entrada.observacion}}</p>
      </div>
    </div>
  </div>
</div>
