<detalle-proveedor *ngIf="proveedorSeleccionado" [proveedor]="proveedorSeleccionado"></detalle-proveedor>

  <div class="card-header">Examenes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Lista de Exámenes</h5>

    <div class="my-2 text-left">
      <button *ngIf="this.authService.hasRole('ROLE_ADMIN')" class="btn btn-primary" type="button"
              [routerLink]="['/proveedores/form']">Agregar Exámen médico
      </button>
    </div>
    <h1>Numero de registros {{proveedores.length}}</h1>
    <div *ngIf="proveedores?.length == 0" class="alert alert-info">
      No hay registros
    </div>
    <table class="table table-border table-striped" *ngIf="proveedores?.length>0">
      <thead>
      <tr>
        <th *ngIf="authService.hasRole('ROLE_USER')">Foto</th>
        <th>Nombre</th>
        <th>Biometría hemática</th>
        <th>Quím. Sang. de 6 elementos</th>
        <th>Prueba toxicológica</th>
        <th>Radiografía de tórax ap. y lat.</th>
        <th>Prueba rápida cvodi-19</th>
        <th>Examen médico de admisión</th>
        <th>Examen de agudeza</th>
        <th>Audiometría tonal</th>
        <th>Electrocardiograma</th>
        <th>Examen psicológica</th>
        <th>Tipo de sangre</th>
        <th>Fecha</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let proveedor of proveedores">
        <td *ngIf="authService.hasRole('ROLE_USER')"><img (click)="abrirModal(proveedor)" *ngIf="proveedor?.foto"
                                                          src="{{urlBackend}}/api/uploads/provedores/img/{{proveedor.foto}}"
                                                          alt="{{proveedor.foto}}" class="img-thumbnail rounded"
                                                          style="width:64px; cursor:pointer">

          <img (click)="abrirModal(proveedor)" *ngIf="!proveedor?.foto"
               src="{{urlBackend}}/images/provNot.png" alt="Sin Foto" class="img-thumbnail rounded"
               style="width:64px; cursor:pointer">
        </td>
        <td>{{proveedor.nombre}}</td>
        <td>{{proveedor.text}}</td>
        <td>{{proveedor.text2}}</td>
        <td>{{proveedor.text3}}</td>
        <td>{{proveedor.text4}}</td>
        <td>{{proveedor.text5}}</td>
        <td>{{proveedor.text6}}</td>
        <td>{{proveedor.text7}}</td>
        <td>{{proveedor.text8}}</td>
        <td>{{proveedor.text9}}</td>
        <td>{{proveedor.text10}}</td>
        <td>{{proveedor.text11}}</td>
        <td>{{proveedor.createAt}}</td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button type="button" name="editar" [routerLink]="['/proveedores/form', proveedor.id]" class="btn btn-primary">Editar</button>
        </td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button type="button" name="eliminar" (click)='delete(proveedor)' class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
    <paginatorProve-nav *ngIf="paginador" [paginador]="paginador"></paginatorProve-nav>
  </div>

